<!DOCTYPE html>
<html>
    <head>
        <title>Car List</title>
    </head>
    <body>
        <p-table [value]="cars">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    List of Cars
                    <p>
                        <button type="button" pButton label=" Main Page" (click)="btnClick('/');"><i class="pi pi-arrow-circle-left"></i></button>
                    </p>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Body Type</th>
                    <th>Engine Capacity</th>
                    <th>Production Year</th>
                    <th>Rent Cost(/day)</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link">
                            <img *ngIf="car.id%6==0" [src]="'assets/images/car1.jpg'" [alt]="car.brand"/>
                            <img *ngIf="car.id%6==1" [src]="'assets/images/car2.jpg'" [alt]="car.brand"/>
                            <img *ngIf="car.id%6==2" [src]="'assets/images/car3.jpg'" [alt]="car.brand"/>
                            <img *ngIf="car.id%6==3" [src]="'assets/images/car4.jpg'" [alt]="car.brand"/>
                            <img *ngIf="car.id%6==4" [src]="'assets/images/car5.jpg'" [alt]="car.brand"/>
                            <img *ngIf="car.id%6==5" [src]="'assets/images/car6.jpg'" [alt]="car.brand"/>
                        </a>
                    </td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.brand }}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.model }}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.bodyTypeEnum }}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.engineCapacity }}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.productionYear }}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.pricePerDayRent | currency: 'EUR'}}</a></td>
                    <td><a [routerLink]="['/selected-car',car.id]" class="row-link" tabindex="-1"> {{ car.status }}</a></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div>
                    In total there are {{cars?.length}} cars in store.
                </div>
                <div class="table-footer">
                    <p>
                        <button type="button" pButton label="  Main Page" (click)="btnClick('/');"><i class="pi pi-arrow-circle-left"></i></button>
                        <img>
                    </p>
                </div>
            </ng-template>
        </p-table>
    </body>
</html>
