
<nav>
    <a routerLink="/cars">Available Cars</a>
</nav>
  <router-outlet></router-outlet>

<nav>
    <a routerLink="/login">Login</a>
</nav>

<nav>
    <a routerLink="/users">Users</a>
</nav>



<!-- <div>
    <button type="button" pButton label="PrimeNG"></button>
</div> --> -->


<!-- <p-table [value]="cars">
    <ng-template pTemplate="caption">
        List of Cars
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let columns of columns">
                {{columns.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td *ngFor="let columns of columns">
                    {{car[columns.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        There are {{cars?.length}} cars in store
    </ng-template>
</p-table> -->


