<router-outlet></router-outlet>
<!-- <p>
    <button type="button" pButton label="Available Cars" class="btn btn-primary-outline pull-right" (click)="btnClick('/cars');"><i class="fa fa-plus1"></i></button>
</p>

<p>
    <button type="button" pButton label="List of users" class="btn btn-primary-outline pull-right" (click)="btnClick('/users');">
        <i class="fa fa-plus"></i>
    </button>
</p>

<p>
    <button type="button" pButton label="Login" class="btn btn-primary-outline pull-right" (click)="btnClick('/login');">
        <i class="fa fa-plus"></i>
    </button>
</p>

<p>
    <button type="button" pButton label="Register" class="btn btn-primary-outline pull-right" (click)="btnClick('/registration');">
        <i class="fa fa-plus"></i>
    </button>
</p> -->



<!-- <p-table [value]="cars">
    <ng-template pTemplate="caption">
        List of Cars
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let columns of columns">
                {{columns.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td *ngFor="let columns of columns">
                    {{car[columns.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        There are {{cars?.length}} cars in store
    </ng-template>
</p-table> -->
