button {
    background-color:rgb(92, 0, 128);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 4px;
    margin-left: 4px;
    height: 42px;
    width: 180px;
    font-size: large;
}
.btn {
    text-align: right;
}

#btnDate {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#toLabel {
    margin-left: 15px;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date1 {
    text-align: left;
    margin-left: 0px;
    display: inline;
}

.date2 {
    text-align: center;
    margin-right: 35px;
    display: inline;
}

.showcase img {
    box-shadow: 0 0 15px rgb(157, 140, 201);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.45;
    z-index: -1;
  }
