<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
    </head>
    <body>
            <main>
                <div class="container">
                    <p>
                        <input type="text" pInputText [(ngModel)]="user.firstName" placeholder="First name" style="margin-top: 25px;">
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="user.secondName" placeholder="Second name">
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="user.login" placeholder="Login">
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="user.email" placeholder="Email address">
                    </p>
                    <p>
                        <p-inputMask [(ngModel)]="user.pesel" mask="99999999999" [unmask]="true" placeholder="Pesel" styleClass="input-mask"></p-inputMask>
                    </p>
                    <p>
                        <p-inputMask [(ngModel)]="user.phoneNumber" mask="999 999 999" [unmask]="true" placeholder="Phone number" styleClass="input-mask"></p-inputMask>
                    </p>
                    <p>
                        <button type="button" pButton label="Confirm edit" (click)="btnUpdate()"></button>
                    </p>
                    <p>
                        <a href="http://localhost:4200/home">HOME PAGE</a>
                    </p>
                </div>
            </main>
    </body>
</html>