<!-- <form name="form" (ngSubmit)="login()" #f="ngForm">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </div>
    <div>
        <button>Login</button>
        <p-toast position="top-right"></p-toast>
    </div>
</form> -->

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <header>
            <h1>LOGIN</h1>
        </header>
            <main>
                <div class="container">
                    <p>
                        <input type="text" pInputText [(ngModel)]="model.email" placeholder="Email address">
                        <!-- EMAIL DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <p-password [feedback]="false" [toggleMask]="true" [(ngModel)]="model.password" placeholder="Password"></p-password>
                        <!-- PASSWORD DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <button type="button" pButton label="Sign in" (click)="btnLogin();"></button>
                        <!-- PRZEKIEROWANIE NA STRONE GLOWNA BEZ LOGOWANIA -->
                    </p>
                    <p>
                        <a href="http://localhost:4200/home">HOME PAGE</a>
                        <p-toast position="top-right"></p-toast>
                    </p>
                </div>
            </main>
    </body>
</html>
