h1 {
  text-align: center;
  margin-top: 4%;

}

.container {
  box-shadow: 0 0 15px rgb(92, 0, 128);
  background-color: #e4dee4;
  width: 500px;
  height: 350px;
  margin: 0 auto;
}

button {
  background-color:rgb(92, 0, 128);
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
  font-size: large;
}

.container p {
  text-align: center;
}

input {
  margin-top: 65px;
  width: 235px;
}
