h1 {
  text-align: center;
  margin-top: 4%;

}

.container {
  box-shadow: 0 0 15px purple;
  background-color: #1a001a;
  width: 500px;
  height: 350px;
  margin: 0 auto;
}

button {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 60px;
  width: 400px;
  font-size: large;
}
.container p {
  text-align: center;
}

input {
  margin-top: 65px;
  width: 222px;
}
