h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 4%;

}

h2 {
    text-align-last: center;
    margin-bottom: 30px;
}

.container {
    box-shadow: 0 0 15px purple;
    background-color: #1a001a;
    width: 500px;
    height: 450px;
    margin: 0 auto;
}

button {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 60px;
    width: 400px;
    font-size: large;
}
.container p {
    text-align: center;
}