<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <a class="nav-link" *ngIf="isLogged()" routerLink="/edit" routerLinkActive="active">
            <input type="text" pInputText [(ngModel)]="this.emailTemp" placeholder="My account">
        </a>
      </ul>
    </div>
</nav>

<html>
    <head>
        <title>Car Rental</title>
    </head>
    <body>
        <header>
            <h1>CAR RENTAL</h1>
            <h2>We are a car rental company.<br>
                We have over twenty one years of experience in the industry, which guarantees the high quality of our services.<br>
                We operate in Poland, Germany and Slovakia.<br>
            </h2>
        </header>
            <main>
                <div class="container">
                    <p>
                        <button type="button" *ngIf="isLogged()" pButton label="Available Cars" (click)="btnClick('/cars');"><i class="pi pi-car"></i></button>
                    </p>
                    <p>
                        <button type="button" *ngIf="!isLogged()" pButton label="Login" (click)="btnClick('/login');"><i class="pi pi-lock-open"></i></button>
                    </p>
                    <p>
                        <button type="button" pButton label="Register" (click)="btnClick('/register');"><i class="pi pi-user-plus"></i></button>
                    </p>
                    <p>
                        <button type="button" *ngIf="isLogged()" pButton label="Your reservations" (click)="btnClick('/reservations')"><i class="pi pi-history"></i></button>
                    </p>
                    <p>
                        <button type="button" pButton label="Logout" (click)="btnLogout()"><i class="pi pi-lock"></i></button>
                    </p>
                    <p-toast position="top-right"></p-toast>
                </div>
            </main>
    </body>
</html>
