<!DOCTYPE html>
<html>
    <head>
        <title>Car Rental</title>
    </head>
    <body>
        <header>
            <h1>CAR RENTAL</h1>
            <h2>We are a car rental company.<br>
                We have over twenty years of experience in the industry, which guarantees the high quality of our services.<br>
                We operate in Poland, Germany and Slovakia.<br>
            </h2>
        </header>
            <main>
                <div class="container">
                    <p>
                        <button type="button" pButton label="Available Cars" (click)="btnClick('/cars');"></button>
                    </p>
                    <p>
                        <button type="button" pButton label="Login" (click)="btnClick('/login');"></button>
                    </p>
                    <p>
                        <button type="button" pButton label="Register" (click)="btnClick('/register');"></button>
                    </p>
                </div>
            </main>
    </body>
</html>