<!DOCTYPE html>
<html>
    <head>
        <title>Filter</title>
    </head>
    <body>
        <header>
            <h1>FILTER</h1>
        </header>
            <main>
                <div class="container">
                    <p>
                        <button type="button" pButton label="All Cars" (click)="btnClick('/cars');"></button>
                        <!-- wysyła zapytanie o wszystkie samochody -->
                    </p>
                    <h3>Search car by:</h3>
                    <p>
                        <input type="text" pInputText [(ngModel)]="carFilterDto.brand" placeholder="Brand">

                        <input type="text" pInputText [(ngModel)]="carFilterDto.model" placeholder="Model">

                    </p>
                    <p>
                        <p-dropdown [options]="fuelTypes" [(ngModel)]="carFilterDto.typeOfFuel" placeholder="Fuel Type" styleClass="input-mask"></p-dropdown>
                        <!-- unmask na false/true? albo . na ,? -->
                        <p-dropdown [options]="bodyTypes" [(ngModel)]="carFilterDto.bodyType" placeholder="Body type" styleClass="input-mask"></p-dropdown>

                    </p>
                    <p>
                        <p-inputMask [(ngModel)]="carFilterDto.engineCapacity" mask="99.9" placeholder="Engine Capacity" styleClass="input-mask"></p-inputMask>

                        <p-inputMask [(ngModel)]="carFilterDto.productionYear" mask="9999" [unmask]="true" placeholder="Production Year" styleClass="input-mask"></p-inputMask>

                    </p>
                    <p>
                        <button type="button" pButton label="Search" (click)="btnClick('api/filter/cars');"></button>
                        <!-- wysyła zapytanie o samochod z podanymi danymi -->
                    </p>
                    <h3>Search by period:</h3>
                    <p>
                        <p-inputMask [(ngModel)]="carFilterDto.freeFrom" mask="9999-99-99" placeholder="From" styleClass="input-mask-date"></p-inputMask>

                        <p-inputMask [(ngModel)]="carFilterDto.freeTo" mask="9999-99-99" placeholder="To" styleClass="input-mask-date"></p-inputMask>

                    </p>
                    <p>
                        <button type="button" pButton label="Search" (click)="btnClick('/cars');"></button>
                        <!-- wysyła zapytanie o samochod z podanymi danymi rezerwacji -->
                    </p>
                    <p>
                        <a href="http://localhost:4200/home">HOME PAGE</a>
                    </p>
                </div>
            </main>
    </body>
</html>

