h1 {
    text-align: center;
    margin-top: 1%;

  }

  .container {
    box-shadow: 0 0 15px rgb(95, 48, 139);
    background-color: #e4dee4;
    width: 500px;
    height: 540px;
    margin: 0 auto;
  }

  button {
    background-color:rgb(92, 0, 129);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 300px;
    font-size: large;
  }

  ul {
    line-height: 1.5
  }

  li {
    text-align: left;
  }

  .container p {
    text-align: center;
  }

  input {
    width: 235px;
  }

  .input-top {
    margin-top: 25px;
  }

  :host ::ng-deep .input-mask{
    width: 235px;
    }


