<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <header>
            <h1>CREATE ACCOUNT</h1>
        </header>
            <main>
                <div class="container">
                    <p>
                        <input type="text" pInputText [(ngModel)]="firstName" placeholder="First name" style="margin-top: 25px;">
                        <!-- FISRTNAME DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="lastName" placeholder="Last name">
                        <!-- SECONDNAME DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="username" placeholder="Username">
                        <!-- USERNAME DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <p-password [toggleMask]="true" [(ngModel)]="password1" placeholder="Password">
                            <!-- PASSWORD1 DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                            <ng-template pTemplate="header">
                                <h4>Password</h4>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Suggestions</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>At least one special character</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </p>
                    <p>
                        <p-password [feedback]="false" [toggleMask]="true" [(ngModel)]="password2" placeholder="Repeat password"></p-password>
                        <!-- PASSWORD2 DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <input type="text" pInputText [(ngModel)]="email" placeholder="Email address">
                        <!-- EMAIL DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <p-inputMask [(ngModel)]="phoneNumber" mask="999 999 999" [unmask]="true" placeholder="Phone number" styleClass="input-mask"></p-inputMask>
                        <!-- PHONENUMBER DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <p-inputMask [(ngModel)]="pesel" mask="99999999999" [unmask]="true" placeholder="Pesel" styleClass="input-mask"></p-inputMask>
                        <!-- PESEL DODAN0 TYLKO NA POTRZEBY ZROBIENIA WIDOKU - DO ZMIANY -->
                    </p>
                    <p>
                        <button type="button" pButton label="Sign up" (click)="btnClick('/home');"></button>
                        <!-- PRZEKIEROWANIE NA STRONE GLOWNA BEZ REJESTRACJI -->
                    </p>
                </div>
            </main>
    </body>
</html>